.a{
	font-size: 50px;

			font-family: 'Noto Sans', sans-serif;
		}
		.b{
			font-size: 50px;

			font-family: 'Gaegu', cursive;
		}
		.c{
			font-size: 50px;
			font-family: 'Oswald', sans-serif;
		}
		.d{
			font-size:50px;

		font-family: 'Coda Caption', sans-serif;
	}
	.e{
			font-size:50px;

font-family: 'Pacifico', cursive;
}
.f{
			font-size: 50px;

font-family: 'Libre Barcode 128 Text', cursive;}
.g{
			font-size: 50px;

font-family: 'Monoton', cursive;
}
.h{
			font-size: 50px;

	font-family: 'Sigmar One', cursive;}