.item1{
		background-color: DeepPink;
		height: 100px;
		width: 100px;
    }
    .item2{
    	background-color: SteelBlue;
		height: 100px;
		width: 100px;
		position: relative;
		left:100px;
    }
    .item3{
    	background-color: YellowGreen;
		height: 100px;
		width: 100px;
    }